{% extends 'base.html.twig' %}

{% block body %}
    <h1>Passenger</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ passenger.id }}</td>
            </tr>
            <tr>
                <th>Passengerid</th>
                <td>{{ passenger.passengerId }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ passenger.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ passenger.lastName }}</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>{{ passenger.nationality }}</td>
            </tr>
            <tr>
                <th>Idcard</th>
                <td>{{ passenger.idCard }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('passengers_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('passengers_edit', { 'id': passenger.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
